[2017-07-17 16:01] poshboytl opened #1 "When install the py_ecc by pip, it raises error: 'error: README.md: No such file or directory'"
Platform: MacOS 10.12.5

OutPut:

[code]

I found the setup.py try to open README.md and LICENSE, but the two files are not in the package: https://pypi.python.org/pypi/py_ecc

[2017-08-14 07:25] nizar-jamal commented on #1
This error is still present. So, I did a:
pip download py_ecc
untarred the tgz
touch README.md and LICENSE files in the py_ecc-1.1.2 directory
and ran the setup.py install

[2017-08-16 07:12] mikeshultz commented on #1
1.1.1 is unaffected, by the way.

    pip install py_ecc==1.1.1

[2017-11-02 16:59] albpal opened #4 "secp256k1.py fails on Python 3.4"
Error test:

[code]

Error message:

  File "<stdin>", line 1, in <module>
  File "/home/apalau/python3.4/lib64/python3.4/site-packages/py_ecc/secp256k1/secp256k1.py", line 132, in ecdsa_raw_recover
    z = bytes_to_int(msghash)
  File "/home/apalau/python3.4/lib64/python3.4/site-packages/py_ecc/secp256k1/secp256k1.py", line 21, in bytes_to_int
    o = (o << 8) + safe_ord(b)
TypeError: unsupported

[2017-11-15 02:16] palkeo commented on #1
I have the same issue, but with the LICENSE file.

[2017-11-15 03:12] pipermerriam commented on #1
Issue should be fixed in `1.4.1`

[2017-11-15 03:12] #1 closed

[2017-11-15 03:27] pipermerriam opened #7 "Test secp256k1 against coincurve"
Given that coincurve is the most reputable implementation of the ECC operations, it would be good to implement some fuzz testing against coincurve.

[2017-11-15 03:28] pipermerriam opened #8 "General fuzz testing"
It'd be nice to have some general fuzz tests across this library.

[2017-11-15 03:29] #4 closed

[2017-11-15 03:31] pipermerriam commented on #4
Fixed in `v1.4.2` either here in the releases or on pypi.

[2018-07-17 13:16] HarryR opened #9 "Pairing product function which matches Ethereum opcode (EIP-212)"
[code]

The G1 and G2 argument orders are swapped compared to the `Pairing.sol` file, whereas `py_ecc` uses `e(G2, G1)`.

[2018-07-17 18:56] pipermerriam commented on #9
cc @vbuterin as this is beyond the scope of my expertise to evaluate/implement.

[2018-09-02 15:51] GuthL commented on #9
@HarryR is right.
I got the wrong impression that what I was trying to do was possible using the precompiled pairing (aka BBS signature). This is misleading.

[2018-09-03 17:43] pipermerriam commented on #9
Would someone like to open a pull request as I think that would be the easiest way to figure out how to proceed here.

[2018-10-17 15:11] pipermerriam opened #10 "Support for python 3.7"
Add support for python 3.7

- Add test run to `tox.ini`
- Add test run to `.travis.yml`
- Fix any issues that show up in tests.

[2018-10-17 15:15] pipermerriam opened #11 "Add type hinting"
### Background

[Type hints](https://www.python.org/dev/peps/pep-0484/) allow us to perform static type checking, among other things. They raise the security bar by catching bugs at development time that, without type support, may turn into runtime bugs.

[This stackoverflow answer](https://stackoverflow.com/questions/32557920/what-are-type-hints-in-python-3-5/32558710#32558710) does a great job a

[2018-10-17 15:20] pipermerriam opened #12 "Expose type hints via PEP561"
blocked until #11 is complete

## What was wrong?

[PEP561](https://www.python.org/dev/peps/pep-0561/) allows us to expose type hints from this library to other libraries which use it.  Without this, any library which uses `py_ecc` and `mypy` style type checking doesn't benefit from the additional type safety.

## Definition of done?

Do what was done in https://github.com/ethereum/eth-typing/pull

[2018-10-17 15:28] pipermerriam opened #13 "Modernize project"
This project was made without the use of our standard project template.

https://github.com/carver/ethereum-python-project-template

The following should be cleaned up to closer match our *modern* project structure.

- remove `requirements-dev.txt` in favor of using `extras_require` pattern.
- add `classifiers` to `setup.py`
- update the readme to contain the appropriate badgest, title and general

[2018-10-17 15:34] pipermerriam opened #14 "Migrate CI to CircleCI"
This library should be migrated to circle CI.

[2018-10-17 18:40] pipermerriam commented on #13
reserving bounty for @iamonuwa (as he has an open PR for this)

[2018-10-17 20:33] 6ug commented on #11
I like to work on this thing, I just saw talk from guido and I can do this thing.

[2018-10-17 20:35] pipermerriam commented on #11
@6ug :+1:

Please get a pull request open early (like as soon as you have any changes committed).  We'll mark it as a work in progress while you complete it.

[2018-10-17 20:36] pipermerriam commented on #11
Also, you should just include the necessary changes for #12 in this as well as they don't really need to be done separately.

[2018-10-17 20:48] pipermerriam commented on #13
@6ug I appreciate the update in #16 and we'll likely get that merged, but to be clear, the bounty for this issue will be reserved for @iamonuwa since he got here first.

Still appreciative of the pull request.

[2018-10-17 21:06] iamonuwa commented on #11
@6ug are you interested in this? Am ready to start working on it immediately

[2018-10-17 21:16] iamonuwa commented on #11
I'll apply for this. But if you are interested, you can work on it.

[2018-10-17 21:20] 6ug commented on #11
hey hi @iamonuwa, sorry I did not saw your comment. Yeah, I like to work on this, may be we can work more collaboratively. You can start solving it by end of `mypy` output and I will start solving by top, will that be okay?

[2018-10-17 22:38] svenski123 commented on #11
Hi the type hinting issue that I applied to work was opened about 30 minutes ago and so I jumped it as I was late to the original py-evm.eth bounty. However it seems there is already a long github thread in place which is linked to multiple issues/bounties so I am not sure if this has been taken or not. Please kindly clarify which modules (if any) are to be worked on by whom.

[2018-10-17 23:18] ceresstation commented on #11
Hey @iamonuwa @6ug did you both apply? I don't see you in the list of applicants.

[2018-10-18 15:33] #13 closed

[2018-10-18 15:33] pipermerriam commented on #13
@iamonuwa is cleared to be paid for completion of this bounty.

[2018-10-18 15:39] pipermerriam commented on #11
We generally do fixst-come-first-serve with the expectation that when there are multiple parties interested in doing a task that the work will be done *promptly* by the person claiming (loosely defined as PR open within the first 24 hours and actively working on the issue).

@6ug has first dibs, followed by @iamonuwa

If the two of you (@6ug and @iamonuwa ) want to team up on this, make sure you t

[2018-10-18 15:40] pipermerriam commented on #11
@svenski123 yes, py_ecc package, apologies if the gitcoin issue says something different, I was creating a bunch of these across multiple repositories.

[2018-10-18 22:09] 6ug commented on #10
I also like to start with this and here is my PR ^^ but site throwing me API error.

[2018-10-19 17:18] #12 closed

[2018-10-19 20:55] 6ug commented on #12
@pipermerriam is this eligible to bounty?

[2018-10-20 13:02] aashutoshrathi commented on #10
@pipermerriam.
I have submitted the work.
I was commuting so was not able to come online for a day.

[2018-10-20 13:36] 6ug commented on #10
sorry @aashutoshrathi if ^^ it offends you in any way, ^^ wasn't intentional, this are kind of my initial gitcoin days. I am just working and getting familiar with processes. As far I got this, process is something like.. you apply for issue, work on it, send PR, commit enough and submit work.

Meanwhile anyone is free to work on any issue and apply for work but first person with valid PR/commit a

[2018-10-21 13:35] ceresstation commented on #10
Hey @6ug that's correct, you need to apply for the issue and then submit work via Gitcoin as well when complete. I don't see you on the list of applicants though, did you originally apply?

[2018-10-21 14:12] 6ug commented on #10
yes @ceresstatio, I tried to apply on gitcoin but it throw me API error, which I have been reported
https://github.com/ethereum/py_ecc/issues/10#issuecomment-431181034.

[2018-10-22 15:53] #10 closed

[2018-10-22 15:54] pipermerriam commented on #10
@ceresstation bounty can be paid to @6ug

Thank you both for your help with our codebases and for sorting out the bounty issue yourselves :+1:

[2018-10-23 10:02] ceresstation commented on #10
@6ug just paid you out, thanks again!

[2018-10-23 10:52] Yadnyawalkya commented on #10
Thank you too! :)

[2018-10-23 21:53] federicosan commented on #11
Hi, I applied to work on this via gitcoin, please confirm is this is already taken.

[2018-10-25 21:08] pipermerriam commented on #11
@federicosan work is already underway in https://github.com/ethereum/py_ecc/pull/18

[2018-11-04 06:35] Bhargavasomu commented on #11
@pipermerriam as I don't see progress in the issue (as per gitcoin), I would like to work on this. I can complete this in a day. Do I have the permission to go ahead with this?

[2018-11-08 04:30] ryan-shea commented on #11
Hey @pipermerriam, what is the status on this? Would love to give @Bhargavasomu the opportunity to complete this for you. On Gitcoin, @federicosan is the only worker approved. How can I help here? 😄

[2018-11-12 21:05] pipermerriam commented on #11
@ryan-shea just got back from some vacation post-devcon.  @Bhargavasomu has my blessing to work on this.

[2018-11-13 04:49] Bhargavasomu commented on #11
@gitcoinbot could you please reopen the issue and later approve me?

[2018-11-14 03:15] ceresstation commented on #11
You should be approved now @Bhargavasomu 👍

[2018-11-21 10:34] ceresstation commented on #11
Hey @Bhargavasomu any updates on your end?

[2018-11-21 11:57] Bhargavasomu commented on #11
@ceresstation I am in the middle of the examinations and have completed half of the work. Will work full time on this in around 5 days. Is that ok? (Already done half of the supportive work, though not in the state for a PR)

[2018-11-21 11:59] Bhargavasomu commented on #11
@pipermerriam why are we using seperate classes for `FQ` when it is just like an `int`?

[2018-11-21 17:08] pipermerriam commented on #11
@Bhargavasomu this was all originally written by Vitalik and I don't actually have a strong understanding of the internals.  I'd shoot for absolute minimal changes to the code as part of this as I'm not willing to sign off on anything that does much in terms of structural changes that aren't easy to visually verify that they don't change any functionality.

[2018-11-23 05:45] Bhargavasomu commented on #11
@pipermerriam I think that there are some potential problems in this code, when it comes to type hinting because of the design.

https://github.com/ethereum/py_ecc/blob/25150ae59eb5b29185e3607d48c9b391392fe3ee/py_ecc/bn128/bn128_field_elements.py#L41-L47
If you take a look at the above snippet, the type hinting for the function argument n, as per the code should be `Union[int, "FQ"]`. But the type

[2018-11-28 12:36] Bhargavasomu commented on #11
@pipermerriam there are a lot of `assert` statements between the code, not as part of any function but as part of the main code itself.
https://github.com/ethereum/py_ecc/blob/25150ae59eb5b29185e3607d48c9b391392fe3ee/py_ecc/optimized_bn128/optimized_pairing.py#L76-L94
`mypy` apparently has some issues with it I guess, because it is giving irrelevant errors. Apart from `mypy`, it would be better if

[2018-11-28 15:33] vbuterin opened #24 "Generalize fields and curves"
Currently, there are separate folders and files for bn128 and bls-12-381, with ~90% duplicated code.

It should be possible to generalize this more, creating a generic prime field class much like there is a semi-generic FQP class, as well as generic elliptic curves, and then only have separate files for the two existing curve types to define curve parameters and twist formulas and the slightly dif

[2018-11-28 17:07] Bhargavasomu commented on #11
@pipermerriam this issue is still not over as the type hinting of `optimized_bn128`. I will be submitting the PR for that soon though.

[2018-11-28 18:13] Bhargavasomu commented on #24
@vbuterin I am interested in generalizing and making the code flexible, could you please tell me the source of this whole codebase, such as a research paper or something.

[2018-11-28 20:40] vbuterin commented on #24
Elliptic curve pairings in general:

[2018-11-29 04:20] Bhargavasomu commented on #24
The following things come to my mind.
* The classes `FQ`, `FQP`, `FQ2` and `FQ12` need not be reinitialized every time as they are not dependent on the type of curve or extension. So probably we could have these created in `field_elements.py` and we could use them everywhere (`bn128`, `optimized_bn128`, `bls`, `optimized_bls`).
* We could also have a general class `BaseCurve`, and then maybe every

[2018-12-04 19:29] pipermerriam opened #30 "Cleanup isinstance checks for integers to disallow booleans"
### What is wrong?

Lots of places in the codebase do assertions like `isinstance(v, int)` to check that something is an integer.  Since python considers `True` and `False` to be integer types these checks won't disallow passing in a `bool` value.

### How can it be fixed

Probably need to add a single utility and make use of it everywhere that we do these checks.

[code]

[2018-12-04 22:37] pipermerriam commented on #24
Design seems :+1:

Removing all of the runtime assertions would be nice, but lets make sure that they are all still executed as part of the test suite.

[2018-12-06 17:57] pipermerriam commented on #11
https://github.com/ethereum/py_ecc/blob/master/tox.ini#L27-L29

@Bhargavasomu can you get in one more PR which condenses those three CI runs into a single run on the base module so that we can confirm that the whole library is properly typed/linted.

[2018-12-06 18:31] Bhargavasomu commented on #11
@pipermerriam the main problem with that is the sub-modules `bs12_381` and `optimized_bs12_381` are not type hinted as of now; and hence `mypy` check on the base module(`py_ecc`) would fail. I could type hint it, but it would lead to a lot of redundancy and doing a refactoring first would help in the type hinting. I have added all the details [here](https://github.com/ethereum/py_ecc/issues/24#iss

[2018-12-06 18:57] pipermerriam opened #31 "Library refactor"
By @Bhargavasomu from: https://github.com/ethereum/py_ecc/issues/24#issuecomment-442701351

The following things come to my mind.
* The classes `FQ`, `FQP`, `FQ2` and `FQ12` need not be reinitialized every time as they are not dependent on the type of curve or extension. So probably we could have these created in `field_elements.py` and we could use them everywhere (`bn128`, `optimized_bn128`, `bl

[2018-12-06 18:58] pipermerriam commented on #31
@Bhargavasomu I've submitted a request to have a bounty attached to this.

[2018-12-07 05:30] Bhargavasomu commented on #11
@pipermerriam I would like to take up #31. Once I am done with it, will come back to this.

[2018-12-07 05:32] Bhargavasomu commented on #31
On this.

[2018-12-07 05:33] Bhargavasomu commented on #11
And by the way, could we have a blocked label for this issue?

[2018-12-07 07:53] Bhargavasomu commented on #31
@ceresstation as far as `gitcoin` is concerned, I am only working on 2 bounties as of now. One is on `py-ssz` and the other is on `py_ecc` issue #11. I have clicked the button `stop work` for the completed ones(but not yet registered as complete in gitcoin). Yet, it is showing that I am working on 3 bounties, and giving the error saying `I can't work on more than 3 bounties at a time`. Could you p

[2018-12-08 09:03] ceresstation commented on #31
Hey @Bhargavasomu sorry about that, I just increased the maximum number of bounties you can work on so you're welcome to apply here if you think you can do all of them in a timely manner :)

[2018-12-09 03:04] Bhargavasomu commented on #24
@vbuterin in the `twist` function of `bn128` and `optimized_bn128`, we are multiplying `x` by `w^2` and `y` by `w^3`, whereas we should actually be dividing right? I think this is a bug (please correct me if I am wrong). Could you please follow up on this? (We are doing correctly by dividing in the case of `bls_12_381` curve). Attaching the snippet for reference.
https://github.com/ethereum/py_ecc

[2018-12-10 14:31] vbuterin commented on #24
I'd say keep the names as `bls12_381`. "BLS" by itself seems like it would refer to Boneh-Lynn-Shacham signatures, which can be done over any pairing-equipped elliptic curve (yeah, I know that's confusing... did you know that BLS as in BLS-12-381 stands for something completely different, "Barreto-Lynn-Scott"?)

[2018-12-10 14:44] ceresstation commented on #31
Hey @joeblackwaslike I like your thoughts here, would be curious to get @pipermerriam's input. @Bhargavasomu since you were the first to discuss this issue I'm going to approve you now :)

[2018-12-10 19:08] pipermerriam commented on #31
Thanks @ceresstation

You are correct to approve @Bhargavasomu on this issue.

@joeblackwaslike if something falls through with @Bhargavasomu  we'll reach out but for now it's safe to assume this issue is being handled.

[2018-12-10 19:11] pipermerriam commented on #24
@Bhargavasomu if you've got any reference materials for the math of these functions please feel free to toss links to them in the README.

[2018-12-10 19:15] pipermerriam opened #34 "Look into ways to cross-verify implementation"
### What is wrong?

https://github.com/ethereum/py_ecc/issues/24#issuecomment-445506905

This is a little frightening (no blame intended).  It would be great if we could come up with a way to cross check this implementation with a known good one or at least to have some additional static test vectors we could test against.

### How can it be fixed

Look into what other implementations exist and ho

[2018-12-10 19:31] Bhargavasomu commented on #34
I'd say https://github.com/adjoint-io/pairing could be a good start.

[2018-12-11 02:53] hwwhww opened #36 "Error during pip installation"
### Environment
Python 3.6.1

[code]

### What is wrong?

Please include information like:

command:
[code]
log:
[code]

### How can it be fixed

Fill this in if you know how to fix it.

[2018-12-11 05:40] zhuofanxu commented on #36
I encounter the same error, it's may the `setuptools version which the project used problem`

[2018-12-11 06:31] Bhargavasomu commented on #24
@vbuterin we have another issue with the `constants`(`b`, `b2`, `b12`, `G1`, `G2`) we are using in `bn128` and `optimized_bn128`. This is because I tried to replace `multiplication` by `division` in the `twist` function of both the curves, and I ended up with the following error.

![screenshot from 2018-12-11 11-54-52](https://user-images.githubusercontent.com/15922456/49782313-de57e480-fd3b-11e8-

[2018-12-11 12:10] andrevmatos commented on #36
The error is caused by typo here:
https://github.com/ethereum/py_ecc/blob/b0148825721835f2a41e412465ebb8ce145bcca9/setup.py#L7

Pinning `py_ecc==1.4.3` or `py_ecc!=1.4.5` did the trick, but it's quite weird it make it into released version, it'd break any setup.py based release.
Py-evm depends on it, which by its turn, broke half ethereum's python packages

[2018-12-11 12:41] hwwhww commented on #36
@andrevmatos nice catch!!!

[2018-12-11 13:41] Bhargavasomu commented on #24
Also piggybacking in the same thread, the following tests have been failing after I have changed the `multiplication` to `division`, on both `bn128` and `optimized_bn128`.
* `test_G12_object`
* `test_pairing_bilinearity_on_G1`
* `test_pairing_bilinearity_on_G2`
* `test_pairing_composit_check`
I don't know how to fix these either and would greatly appreciate help.

[2018-12-12 15:14] hwwhww commented on #36
close via #37

[2018-12-12 15:14] #36 closed

[2018-12-13 15:23] Bhargavasomu commented on #24
@vbuterin, my apologies for pinging you multiple times. But I would greatly appreciate your help regarding how to adjust the constants, in regards to the above comments.

[2018-12-16 10:08] vbuterin commented on #24
OK, I think I figured it out. In the `bn128` curve, `b2 = b / w**6`. In the `bls_12_381` curve, `b2 = b * w**6`. That's why it's different in the two documents and works in both.

[2019-01-07 18:04] catslovesmilk commented on #11
Hey folks, can I take this issue?

[2019-01-07 19:36] pipermerriam commented on #11
@catslovesmilk

Somu (@Bhargavasomu ) has been working towards this for a bit and was blocked by his work on #31 so for now it is still his.

[2019-01-19 21:08] wemeetagain opened #44 "Question: Show work for BLS12-381 Fq12 modulus"
I'm learning more about bls12-381 and currently stumped by one part of the code:
I'm assuming that
[code]
means x<sup>12</sup> -2x<sup>6</sup>+2
and that it is the irreducable polynomial used as a modulus for F<sub>q<sup>12</sup></sub>.

I feel like this had to be from the specification https://github.com/zkcrypto/pairing/tree/master/src/bls12_381#bls12-381-instantiation , but I don't see how it w

[2019-01-21 22:31] carver commented on #34
Related: #7

[2019-01-21 22:43] carver opened #45 "Test and bugfix equality testing with different degree polynomials."
### What is wrong?

If I read the current implementation of `FQP.__eq__` correctly, it returns `True` for this test:

[code]
which seems wrong.

In the current implementation, `zip` terminates on the shorter list, and there's no explicit length/degree check.

### How can it be fixed

Add tests for related scenarios, and make sure implementation is correct.

Also, because of the type checking invol

[2019-01-23 18:29] carver opened #46 "Add FQP.copy()"
For a follow-up PR: I think this could be made a tiny bit more readable by adding a `copy()` method that takes the new coefficients, turning the line into:
[code]

From the current:
[code]

_Originally posted by @carver in https://github.com/ethereum/py_ecc/pull/41_

[2019-01-28 15:03] mratsim opened #47 "FQP initialization should take the mod of input coefficients"
Full context: https://github.com/ethereum/eth2.0-specs/issues/508

### What is wrong?

For BN and BLS, FQP object should take the modulo of the input during initialization.

Test case:

[code]

This is used in  `modular_squareroot` part of Eth2.0 spec (https://github.com/ethereum/eth2.0-specs/blob/928f9772fa51ed2e251b99c4795097da976c4bde/specs/bls_signature.md#modular_squareroot) and Trinity (http

[2019-01-28 18:03] mratsim commented on #47
As mentioned in https://github.com/ethereum/eth2.0-specs/issues/508#issuecomment-458237139, it's the optimised implementation that has an issue:

[code]

[2019-02-01 08:20] ChihChengLiang commented on #47
On this

[2019-02-05 10:35] Bhargavasomu opened #49 "Benchmarking the Library"
### What is wrong?
I personally think that it would be better if there were some benchmarks added to this library, so that to make sure that we are not altering any optimizations made etc. while adding new functionalities. Further this is a pretty primitive module where I believe speed matters.

### How can it be fixed
I think we could something similar to what we are doing [here](https://github.c

[2019-02-13 15:28] Bhargavasomu opened #50 "Improving performance of the Library with Cython"
### What is wrong?

There are many places in the code like, `finding an intersection of the tangent with the curve` etc. In other words, there are many functions whose variables make use of **fixed specific datatypes** (mostly `int`). I feel that `Cythonizing` these functions would improve the performance.

### How can it be fixed

Make the suitable functions as `cython functions`.

[2019-02-13 15:33] hwwhww commented on #50
Agreed! We did consider using Cython to improve performance; especially that Serenity BLS signature aggregation would be one of the highest overhead.

[2019-02-14 17:33] #47 closed

[2019-02-19 17:00] lazaridiscom commented on #31
Is this still actual?

I noticed that there was a far too big PR, which was essentially non-reviewable.

The problem is that refactoring should be done in tiny steps, ideally immediately mergeable (to avoid big final reviews).

So, this starts by immediately splitting down to different issues (before even touching the code). Other decisions come up during refactoring.

## Sequence

(here a draft e

[2019-02-19 17:09] Bhargavasomu commented on #31
@lazaridiscom
* The initial big refactor `PR` which you saw is still put as a reference, but not under the assumption that it has to be merged.
* We have split this big PR into subsequent PR's, out of which https://github.com/ethereum/py_ecc/pull/41 is the first one.
* That `PR` is still not merged because we would like to have benchmarks so that the refactoring doesn't change the 1) Logic 2) Effi

[2019-02-19 17:34] lazaridiscom commented on #31
You should possibly lookup the term "Refactoring".

[2019-02-19 19:37] lazaridiscom commented on #31
Mainly: https://martinfowler.com/bliki/RefactoringMalapropism.html

[2019-02-20 18:07] lazaridiscom commented on #24
if you can release a bounty independent(!) of #31, I can demonstrate you what I described in https://github.com/ethereum/py_ecc/issues/31#issuecomment-465219883.

The refactoring (strict, zero behavior change, system remains operative with each small step) would be executed by me abstractly (e.g. without even going into the domain-knowledge, without understanding the code fully).

I refactor (or "

[2019-02-26 16:07] Bhargavasomu commented on #49
@hwwhww @ChihChengLiang do you have any suggestions for the `Benchmarking Tests`. Right now, all I can think of regarding benchmarking is `Pairing`. Any new tests would be helpful.

/cc @pipermerriam @carver

[2019-02-26 17:55] ChihChengLiang commented on #49
Some idea I can come up with now. Most of these can only start after the migration of BLS aggregation API from Trinity to here.

### Benchmark that focuses on the bottleneck

This protects the most important concerns, so we don't worry about breaking things.

Example:

- Verify 2/3 of 312,500 validators' signature aggregation.
- Verify a crosslink.

References for signature aggregation and crossli

[2019-02-27 11:28] ChihChengLiang opened #51 "Port BLS module"
### What is wrong?

This is a step of https://github.com/ethereum/trinity/issues/329

### How can it be fixed

1. Depends on new release of eth_typing after https://github.com/ethereum/eth-typing/issues/12 is resolved.
2. Copy the [implementation in Trinity](https://github.com/ethereum/trinity/blob/master/eth2/_utils/bls.py)

[2019-03-03 17:28] ChihChengLiang opened #53 "Fix BLS Signature byte representation of G1 and G2 points"
### What is wrong?

In the BLS Signature, points in G1 and G2 consist of 381 bits integers. An integer should be converted to a total 384 bits byte format with extra specified 3 bits flags, while it is converted with simple `pt.to_bytes(48, "big")` in the [current implementation](#52).

### How can it be fixed

- Fix `G1_to_pubkey`, `pubkey_to_G1`, `G2_to_signature`, and `signature_to_G2`
- Should

[2019-03-04 19:21] Bhargavasomu commented on #45
As an extension to this issue, it would ideally be better, if all the places in the code where the `zip` function is used be tested in some way (probably `unittests`).

[2019-03-04 19:30] Bhargavasomu opened #54 "[EXPERIMENT] Fields as subclass of int"
### What is wrong?

Currently, the `FQ` and `FQP` fields have a lot of `isinstance` checks. This can be eradicated by making the classes subclasses of `int`.

### How can it be fixed

Fill this in if you know how to fix it.

[2019-03-04 19:36] Bhargavasomu opened #55 "[EXPERIMENT] Caching classmethods one and zero"
### What is wrong?

Caching the outputs of the classmethods `one` and `zero` of the classes `FQ` and `FQP` **may** increase the performance

It would ideally be better to do this after #49 is done with, so as to check the performance gains.

### How can it be fixed

Fill this in if you know how to fix it.

[2019-03-06 00:09] carver opened #57 "Switch curve_name from string to NamedTuple"
`py_ecc/fields/__init__.py` has a lot of duplications and is at high risk of typos (like importing the coeffs or field modulus from the wrong curve).

Let's think about alternatives to this setup. Maybe something like:

[code]

^ This still doesn't feel quite right, but it's a starting point.

The end goal is to be able to create `bn128_FQ2` with a reference to a single *thing* (like this new `Nam

[2019-03-06 03:32] SilverPoker opened #58 "The Documentation of py_ecc"
Hi~, I'm planning to use this library as simple ecc library for other usage, but I didn't find any documention of the api. The link mentioned in readme.md doesn't refer to the api or concrete function. Could you please give me some links that refers to introduction of the usage of this library? (Including explanation of some functions or demo usage)
Thanks

[2019-03-06 13:49] Bhargavasomu commented on #57
This would happen in the second phase of the refactoring process where, even the `curves` would be generalized and all their properties would be encapsulated as a `NamedTuple`.

[2019-03-06 15:14] ChihChengLiang opened #59 "py-evm tests will fail with current master branch of py_ecc"
* py-evm Version: master branch at d6adf9039647b6fc39b9d79725e9331008a5c438
* OS: osx
* Python Version (python --version): Python 3.7.0
* Environment (output of `pip freeze`):

### What is wrong?

Please include information like:

* full output of the error you received
* what command you ran: `(in py-evm)$ pytest tests/json-fixtures/test_blockchain.py::test_blockchain_fixtures[.../py-evm/fixtures

[2019-03-06 15:16] ChihChengLiang commented on #59
cc @pipermerriam @carver @Bhargavasomu

[2019-03-06 19:54] Bhargavasomu commented on #59
@ChihChengLiang the fix for this is here at https://github.com/ethereum/py-evm/blob/d6adf9039647b6fc39b9d79725e9331008a5c438/eth/_utils/bn128.py#L17.

Here if we replace this with
[code]
then this test would work.

This refactoring would make a breaking change in probably a lot of repositories using this library, but it is maybe for the best, as it provides better structure.

[2019-03-07 00:46] carver commented on #59
AFAIK, master is not slated for a major version bump, so we need to:
1. Add a new test to cover this case
2. Fix the API so it stays backwards compatible

[2019-03-07 10:22] ChihChengLiang commented on #59
@Bhargavasomu The tests are happy with the fix, but not mypy. Add a draft PR here https://github.com/ethereum/py-evm/pull/1731 for the proposed diff.
Despite the issues we encountered, I totally support the refactor.

@carver would propose porting _ecpairing from eth/precompiles/ecpairing.py to py_ecc for better maintainability and compatibility.

To provide more context, my goal is to release BLS

[2019-03-07 14:21] Bhargavasomu commented on #59
@ChihChengLiang if you are planning the release soon, then I am ok with merging #60 and will stall up the `refactoring` till the new version is released.

/cc @pipermerriam @carver

[2019-03-07 14:33] Bhargavasomu commented on #59
@ChihChengLiang another solution would be to remove the file `py.typed` in the next release. I have tested by installing `py_ecc` without the file `py.typed` with the `latest master`. Could you also please confirm that removing `py.typed` would solve the `mypy` issue temporarily?

[2019-03-07 16:18] pipermerriam commented on #59
@Bhargavasomu removing `py.typed` isn't an acceptable solution.  We need to fix the typing as soon as possible now that the other PR has been merged.

[2019-03-07 16:19] pipermerriam commented on #59
Also @Bhargavasomu want to re-iterate @carver 's point about major version bumping and that we need to address any backwards incompatibilities that may have crept in.

[2019-03-07 16:52] ChihChengLiang commented on #59
Alright, don't do `py.typed` removal. @pipermerriam do you prefer any of my proposed options? Especially option 2, it makes BLS and the refactor happy, but not sure if you like it.

[2019-03-07 17:01] hwwhww commented on #59
For option 2, IMO we should keep `master` to be the main branch for other PRs.
So, not good-looking but practically, revert `master` branch to 1.4.8, and then see if we can merge #60 without breaking py-evm.

[2019-03-07 17:18] Bhargavasomu commented on #59
@pipermerriam the other PR of mine which recently got merged, is only one phase of the 2 phases of refactoring I had in mind. Even if we do `type hinting` now, I think it would still be messy. I'll take care of the `backward incompatibilities`.

@ChihChengLiang could you give a rough time estimate of when you are planning to release the new version with `BLS Signatures`. I ask this so as to know,

[2019-03-07 17:31] ChihChengLiang commented on #59
The BLS Signatures is already complete and can be released at any moment.

[2019-03-07 17:39] ChihChengLiang commented on #59
The desired release time of BLS Signatures is as soon as possible. But I don't want to rush you for the refactoring. So prefer some way the BLS Signatures can be released soon and you can optimize the refactor as well.

[2019-03-07 19:01] Bhargavasomu opened #62 "Replace Class level variables with metaclass implementations"
### What is wrong?
This snippet of code here is a `class level variable` and it would be better to define it using a `metaclass`.

https://github.com/ethereum/py_ecc/blob/b83b807e6ee058631e1904936c9795f913dfe342/py_ecc/fields/field_elements.py#L197-L201

### How can it be fixed
https://github.com/ethereum/py_ecc/pull/61#discussion_r263508419

[2019-03-07 19:13] carver commented on #59
Yes, rushing through to a new major version is . Even if we did it, we still have maintain the previous major version for a while (duplicating PRs to the old branch).

[2019-03-07 19:18] carver commented on #59
Semantic nitpick: a `refactor` is a restructuring of code that [does _not_ change the external API](https://en.wikipedia.org/wiki/Code_refactoring). Up until now, I've been presuming that this was the intention of @Bhargavasomu 's refactor. Maybe we can stretch refactor to mean adding new APIs without breaking old ones.

If the intention is to redesign the API, then let's stop calling it a refacto

[2019-03-12 03:43] Bhargavasomu commented on #59
This issue can be closed by #56

[2019-03-12 03:48] ChihChengLiang commented on #59
fixed in #56

[2019-03-12 03:48] #59 closed

[2019-03-14 09:05] #53 closed

[2019-03-14 09:05] #51 closed

[2019-03-16 12:23] Bhargavasomu opened #64 "[DISCUSSION] Library Upgrade - Part 2"
### What is wrong?
The first part of the upgrade is over, where the `fields` used by different curves were generalized into the `fields API`. Regarding the 2nd part of the upgrade, this is what I had in mind.
* Remove different modules for the different curves (`bn128`, `bls12_381`, `optimized_bn128`, `optimized_bls12_381`) and generalize it into the `curves API`.
* In the `curves API`, all the **

[2019-03-17 01:16] ChihChengLiang opened #65 "empty sums in BLS"
### What is wrong?

https://github.com/ethereum/eth2.0-specs/pull/782

### How can it be fixed

This library should already satisfy the spec, no code change required. But can add tests to the empty aggregation cases.

[2019-03-18 13:37] ChihChengLiang commented on #64
The next step of BLS signature API is to rewrite some performance hot spots with Cython or gmp lib. How do these kinds of optimizations fit into the upgrade?

[2019-03-18 18:19] carver commented on #64
My instinct is that it takes a while to even list all the breaking changes you might like to have in a major version upgrade. Since the performance bump is important and urgent (I'm assuming), we should just work on that first while we think about other breaking changes we might want to add to the list for v2.

[2019-03-18 19:45] Bhargavasomu commented on #11
@pipermerriam I think this bounty be closed with #63.

[2019-03-18 19:47] Bhargavasomu commented on #64
Ok I will stall making progress on the `part-2` of the upgrade process until the performance boost is done with.

[2019-03-19 15:22] ChihChengLiang opened #66 "BLS optimization"
### What is wrong?

There's a need to optimize BLS verifying process. Here lists some possible actions items.

- Optimize through the math part: Vitalik has a short cut for the pairing and final exponentialization
- Profiling to identify the hotspot
- Some function rewrite options (from the offline discussion of @hwwhww and @changwu-tw )
 - Cython, see #50
 - gmp
 - sage: only py2 support 😢
 - Num

[2019-03-21 16:26] pipermerriam commented on #66
Numba and Cython are likely to not be trivially easy to reap benefits as they won't support arbitrarily large integers (likely nothing above 64bit).

[2019-03-23 20:47] #11 closed

[2019-03-23 22:00] carver commented on #58
Totally agree this needs to be added. Until that happens, though, the best reference is seeing how `py-evm` uses it. See: https://github.com/ethereum/py-evm/search?q=py_ecc&type=Code

[2019-03-23 22:06] carver commented on #50
I would go as far as saying this is **blocked** on #49 -- there is no point in starting to optimize performance without a benchmarking suite.

[2019-03-26 17:04] pipermerriam commented on #11
@gitcoinbot is it possible to re-activate this bounty to be paid towards @Bhargavasomu

This issue ended up being blocked/delayed by some other deeper work that Somu did on the library and it's just now been completed.

[2019-05-07 17:50] zilm13 opened #68 "Move to SHA256"
* py-evm Version: 1.6.0
* OS: osx/linux/win
* Python Version (python --version):
* Environment (output of `pip freeze`):

### What is wrong?

ETH2.0 is using SHA256 instead of Keccak256 since v0.6.0 following this PR https://github.com/ethereum/eth2.0-specs/pull/779
Py-ecc is still using Keccak256: https://github.com/ethereum/py_ecc/blob/master/py_ecc/bls/hash.py
Py-ecc is used in BLS test generat

[2019-05-13 02:13] lazaridiscom commented on #11
has still "work started" stgatus on gitcoin

[2019-05-13 02:14] lazaridiscom commented on #11
https://gitcoin.co/issue/ethereum/py_ecc/11/1532

[2019-05-23 21:56] #68 closed

[2019-05-25 13:36] mhchia opened #71 "Wrapper for BLS python bindings in Chia Network"
### What is wrong?
To address https://github.com/ethereum/py_ecc/issues/66, we can make use of faster implementations. Chia-Network has BLS signature implementation in C++, as well as the bindings for Python.

### How can it be fixed
To make use of the bindings, we need a wrapper for the essential functions in `bls.api`
- `sign`
- `privtopub`
- `verify`
- `aggregate_signatures`
- `aggregate_pubkey

[2019-05-25 13:53] mhchia commented on #71
cc @pipermerriam @carver @hwwhww @ChihChengLiang

[2019-05-27 10:53] ChihChengLiang commented on #71
Could we leave `bls/api.py` as is, and put the wrapper in somewhere like `bls_binding/api.py`?

For the license concern, I don't have experience in this either.

[2019-05-27 21:42] carver commented on #71
Yeah, no problem to add a dependency on an Apache-licensed library. It's pretty much only a problem with something like GPL-like licenses.

[2019-05-28 06:37] mhchia commented on #71
@carver That sounds great! Thank you for answering:)

[2019-05-28 15:47] ralexstokes opened #73 "Constant time hashing to the curve"
### What is wrong?

For `bls12-381` we want to map messages to points on the curve. The current implementation uses an expensive "hash and check" method via `hash_to_g2`. It is desirable to have a more performant method of mapping a given message to the curve.

### How can it be fixed

Luckily, there was recent work on a constant time hashing method w/ implementation here:

https://github.com/kwan

[2019-06-01 05:12] SilverPoker commented on #58
Thanks for replying, but I think this link didn't help too much with no reference.....

[2019-07-05 06:24] ChihChengLiang opened #74 "For arbitrary message, is empty signature valid for empty public key?"
### What is wrong?

To py_ecc, if you sign a message with an empty public key and an empty signature, it verifies True. That seems wrong.

[code]

Arguments to return True
- It is a valid behavior for the pairing function
- It is just a special case of rogue key attack, we don't let validator input public key anyway.

Arguments to return False
- It's a scary gotcha to let an arbitrary message to b

[2019-07-05 07:32] ChihChengLiang commented on #74
Add explicit test to confirm this behavior for now.

[2019-07-08 20:02] pipermerriam commented on #74
Sounds like a good case for default behavior being for it to return `False` but to *potentially* allow this behavior via an explicit flag since it is valid behavior for the cryptography.

[2019-07-09 09:20] ChihChengLiang commented on #74
Discussed with @vbuterin yesterday. The conclusion was to accept the behavior for the time being since there might be more degenerate cases popping up in the future.

What do you think adding the flag in wrappers in the Trinity or eth_keys and keeping the logic simple in py_ecc?

cc @carver

[2019-07-09 15:07] pipermerriam commented on #74
I can get onboard with this.  Need to get eth-keys up-to-date with BLS signatures and it seems appropriate for it to house the higher level APIs.

[2019-07-11 05:30] ralexstokes opened #76 "Introduce the `Domain` type"
### What is wrong?

A new type was introduced for the BLS domain here: https://github.com/ethereum/eth2.0-specs/pull/1246

Right now, `py_ecc` takes the domain as an `int`.

### How can it be fixed

Add the `Domain` type and update the `bls` API.

[2019-07-12 01:12] #76 closed

[2019-10-03 20:05] HarryR commented on #44
[code]

[2019-10-17 03:41] kirk-baird opened #80 "Verify Signatures are in the correct Sub-group"
* py-ecc Version: 1.7.1

### What is wrong?

Currently verification of a signature does not check that the signature is in the correct subgroup. This poses a security risk when verifying a pairing.

### How can it be fixed

When verifying a signature check `r * sig == 0` before pairing.

I will update #79 to include the check as this had been inserted into the standard.

[2019-10-18 17:40] pipermerriam commented on #80
If this isn't explicitely part of #79 maybe this change can be extracted to a stand-alone PR?

[2019-10-19 13:12] kirk-baird commented on #80
I made this PR cause it is a security vulnerability that currently exists but it is included as part or the BLS stand.

Do you this it should be it's own PR or part of the BLS standard PR?

[2019-10-21 05:47] kirk-baird commented on #80
I've added this in #79

[2019-11-21 00:12] kirk-baird opened #81 "Optimisations for Hash to Curve"
### What is wrong?

Currently we use a 'constant' time hash to curve function.

It is possible to significantly increase speeds by removing the constant time requirements.

### How can it be fixed

The two key areas where speeds could be made are in `py_ecc/optimized_bls12_381/optimized_swu.py`:
* Returning when a solution is found in  `sqrt_division_FQ2()`
* Stopping the loop in `optimized_swu_G2

[2020-01-07 16:12] pipermerriam opened #86 "ReadTheDocs and doctests"
### What is wrong?

The project is currently only documented with small examples in the readme

### How can it be fixed

Create sphinx based docs and host on RTD.

[2020-03-31 13:48] hwwhww opened #90 "Add Python 3.8 env"
### What is wrong?

Add Python 3.8 env to the CI setting.

### How can it be fixed

Fill this in if you know how to fix it.

[2020-05-06 14:25] #90 closed

[2020-05-09 01:35] hwwhww opened #95 "Use custom object for infinity point instead of `None`"
### What is wrong?
For #89, discussion offline:

If I call mypy --strict --follow-imports=silent --ignore-missing-imports py_ecc (without `--no-strict-optional`), then 50+ errors about "None"  infinity point would show up

If I call the same command with your PR, the errors:

[code]

But it's already handled with `if is_inf(pt): return pt`

None is really tricky in typing, perhaps there should be

[2020-05-09 01:40] hwwhww opened #96 "Mysterious for... else statement in `optimized_swu`"
### What is wrong?

This `else` clause on loop is never triggered without a break statement:
https://github.com/ethereum/py_ecc/blob/50ee33abc9edb0ffd60acc88cf41614598bd9149/py_ecc/optimized_bls12_381/optimized_swu.py#L60-L63

### How can it be fixed
Is it okay to remove this clause?

[2020-05-09 01:43] hwwhww commented on #96
/cc @kirk-baird

[2020-05-09 04:03] kirk-baird commented on #96
Ooh interesting that should be indented to align with the if block above it!

[code]

It is there to pickup the case where no square root is found and thus hashing to curve has failed. Theoretically it should not be reached, unless of course there is a bug somewhere else in the code.

[2020-05-12 15:27] hwwhww commented on #96
Thanks @kirk-baird!

Closing via #97.

[2020-05-12 15:27] #96 closed

[2020-05-21 18:32] paulmillr opened #98 "Fails test vectors from hash_to_curve v7"
See [hash_to_curve spec version 7](https://tools.ietf.org/html/draft-irtf-cfrg-hash-to-curve-07#appendix-G.10.1), specifically msg=abc.

## Expected

It should produce (stripping hex to 4 chars):

[code]

## Actual

u0 and u1 are correct, everything else is not.

[code]

## Test code

(copy-paste helper methods to hash_to_curve.py if you want to log u, Q, R)

[code]

cc @hwwhww @CarlBeek

[2020-05-22 06:52] hwwhww commented on #98
Hi @paulmillr

afaik the `msg = abc` case is in our CI tests and it passed: https://github.com/ethereum/py_ecc/blob/d21bbb11d4e7514956810e6ce1cd443a8e8ee817/tests/bls/test_hash_to_curve.py#L70-L72

It seem that your  `point_3d_to_2d` function is in Jacobian projective coordinates and the test vectors are in [homogeneous projective coordinates](https://tools.ietf.org/html/draft-irtf-cfrg-hash-to-cu

[2020-05-22 10:43] paulmillr commented on #98
Thanks, that was unclear.

[2020-05-22 10:43] #98 closed

[2020-06-13 15:22] vbuterin commented on #95
I guess if the goal is to ensure all points are of the same "format", then just use (0, 0) in the "basic" code and (0, 0, 0) in the "optimized" code? (or maybe (1, 1, 0) for optimized would be more correct as that essentially sets x = y = 1/0)

[2020-10-22 21:33] prestwich opened #104 "Nit: primitives is misspelled in py_ecc.bls module"
# What is wrong?

Really small nit. `primitives` is incorrectly spelled `primatives` in `py_ecc.bls.g2_primatives`

[2020-10-23 10:04] hwwhww commented on #104
Nice catch! 😮

Hmm, although it's a typo, we will have a backward-compatible issue if we just rename the file. Probably need to rename + add an alias `primatives` for compatibility. 😅

[2020-10-23 16:31] prestwich commented on #104
I can put out a branch later today👌

[2020-10-23 16:32] prestwich commented on #104
ugh I hit "close with comment" instead of just comment 🤣

[2020-10-26 21:01] prestwich commented on #104
see #105

[2020-11-15 09:36] hwwhww opened #108 "BLS point (de)compression issue"
### What is wrong?

Follow up with #107, to see what's wrong with the (de)compression.

#### History
- https://github.com/ethereum/py_ecc/blob/master/py_ecc/bls/point_compression.py logic hasn't been updated for 1.5 years.
- The point compression format should have been following the old https://github.com/ethereum/eth2.0-specs/blob/v0.9.0/specs/bls_signature.md#point-representations doc, which wa

[2020-11-16 21:03] #108 closed

[2021-03-12 18:10] pipermerriam opened #119 "Unification of interfaces across secp256k1 and bls"
### What is wrong?

It would be nice if `py_ecc.secpk256k1`, `py_ecc.bls12_381` and `py_ecc.bn128` all had roughly the same API.

### How can it be fixed

A combination of exposing a few un-exposed APIs from `secpk256k1` and renaming things.

- expose `add` and `multiply` from `py_ecc.secp256k1.secp256k1` from `py_ecc.secp256k1`
- I think `py_ecc.secp256k1.secp256k1.inv` needs to be renamed/aliase

[2021-03-15 07:40] xingzhibo2019 opened #120 "stackoverflow while computing paring() on curve bn128"
* OS: win10
* Python Version (python --version):3.8.5
* Environment (output of `pip freeze`):py-ecc==5.2.0

when compute paring(G2, G1), the process gives me "Process finished with exit code -1073741571 (0xC00000FD)", even i've set "threading.stack_size(200000000)", which doesn't work.
here's my test code:

import py_ecc.bn128.bn128_curve as curve
import py_ecc.bn128.bn128_pairing as pairing

def

[2021-03-15 11:43] Devil-fire commented on #120
You can try to modify the__ pow__ (), as follows
[code]

[2021-03-15 12:02] xingzhibo2019 commented on #120
thx!!! it works!!!

[2021-03-15 12:02] #120 closed

[2021-12-17 04:15] kclowes opened #124 "Current pinned mypy version is incompatible with python 3.8+"
### What is wrong?

Can't install dev dependencies of py_ecc with python3.8+ because the mypy version we're using requires a version of `typed-ast` that is incompatible with python 3.8. See issue: https://github.com/python/typed_ast/issues/126

### How can it be fixed

Workaround for local development for now is to use python 3.7.

I started down the path of updating to mypy v0.910, but there were

[2022-01-06 17:59] amitcz opened #125 "Produces G1 and G2 points of different length."
[](https://gist.github.com/BjornvdLaan/ca6dd4e3993e1ef392f363ec27fe74c4#file-blsexample-sol)

So I tried to verify signature and public output from
Line 273 : threshold_sig :: [](https://github.com/maidsafe/bls_dkg/blob/master/src/key_gen/tests.rs)

But G1 and G2 points I received were of length 115 not 77( see first link)

So I was unable to verify Signature

[code]
Used Functions
[code]

[2022-01-06 18:00] amitcz commented on #125
[code]

[2022-01-06 18:18] ralexstokes commented on #125
`G1` and `G2` refer to the groups defined as part of the BLS cryptosystem which have canonical representations that are different lengths -- in fact G2 points are *double* the length of G1 points for the setting we use in the consensus layer today.

based on your code sample, it looks like you have `signature` and `public_key` swapped which would be the first thing to fix -- can you link the full

[2022-01-06 18:20] amitcz commented on #125
I didn't expected so prompt response :)

https://github.com/maidsafe/bls_dkg/blob/master/src/key_gen/tests.rs

[2022-01-06 23:27] ralexstokes commented on #125
if you click around it may be that your signature is using a different ciphersuite than the one you called upon (with `G2ProofOfPosession`)

https://github.com/maidsafe/blsttc/blob/master/src/lib.rs#L73

try w/ `G2Basic`? if that doesn't work, it is possible that somewhere in the stack you are trying to use there is an incompatibility with what this library produces or even intends to support.

an

[2022-01-06 23:27] #125 closed

[2022-05-26 14:00] Rumata888 opened #126 "Dangerous lack of subgroup check for G2 groups in bls"
### What is wrong?

G2 point decompression function goes through all the regular checks same as for G1 (checks that coordinates are in field and that the point is on curve). However, there is no subgroup check, which presents a security vulnerability, especially if someone tries to use this code for distributed key generation (then you can mount the baby sharks (https://medium.com/zengo/baby-shark

[2022-05-26 17:11] Rumata888 commented on #126
For some reason the link I added to the post to the function got lost. https://github.com/ethereum/py_ecc/blob/a1d18addb439d7659a9cbac861bf1518371f0afd/py_ecc/bls/point_compression.py#L173

[2022-05-26 22:09] ChihChengLiang commented on #126
Hi @Rumata888 and @carver,

We moved the subgroup check outside of the `decompress_G2` after the refactor of #116 (cc @hwwhww).
1. For public key (G1), we perform the subgroup check in `KeyValidate`. We check all core APIs with KeyValidate except for `_AggregatePKs`.
https://github.com/ethereum/py_ecc/blob/033b4ea69a3cbc841c02c9b7d1b4996cd7863585/py_ecc/bls/ciphersuites.py#L115
2. For Signature (G

[2022-07-04 17:56] Popeyef5 opened #127 "Segmentation fault when using multiply"
* OS: linux
* Python Version (python --version): Python 3.8.13
* Environment (output of `pip freeze`):
argcomplete==1.12.3
attrs==21.4.0
cached-property==1.5.2
certifi==2022.5.18.1
cytoolz==0.11.2
eth-hash==0.3.2
eth-typing==3.0.0
eth-utils==2.0.0
hypothesis==6.46.11
iniconfig==1.1.1
mypy-extensions==0.4.3
numpy==1.22.4
packaging==21.3
pandas==1.4.2
pipx==0.16.4
pluggy==1.0.0
py==1.11.0
py-ecc==6.